<form>
  <div class="half-tone-overlay"></div>

  <div class="mvrpg-dialog-container flexcol">
    <div class="mvrpg-dialog-section comic-frame flexcol">
      <div class="mvrpg-dialog-header">
        {{localize "MVRPG.dialog.initSpeed.initiativeSettings"}}
      </div>
      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.initSpeed.edge"}}</div>
        <div class="mvrpg-dialog-input"><input name="system.initiative.edge" type="checkbox" {{checked actor.system.initiative.edge}}></div>
      </div>
    </div>
  </div>
</form>
