<div class="codename-panel">
  <div class="codename comic-frame flexrow">
    <input class="codename-input" name="name" type="text" value="{{actor.name}}">
  </div>
  <div class="portrait comic-frame">
    <img class="portrait"
         src="{{actor.img}}"
         data-edit="img"
         title="{{actor.name}}" />
  </div>
</div>
