<div class="tab combat-panel flexcol" data-group="primary" data-tab="combat">
  <section class="damage-section flexcol">
    <div class="damage-section-title">{{localize "MVRPG.sheets.superSheet.dataHeaders.damageMultipliers"}}</div>
    <div class="damage-multiplier-list flexrow">
      {{#each damageData as |abilityData|}}
        <div class="damage-multiplier-item flexcol">
          <div class="damage-multiplier-value">
            x{{abilityData.damageMultiplier}}
            <span class="damage-modifier">
              ({{numberFormat abilityData.damageModifier sign=true}})
            </span>
          </div>
          <div class="damage-multiplier-label">{{localize (concat "MVRPG.sheets.superSheet.abilities." abilityData.name)}}</div>
        </div>
      {{/each}}
    </div>
  </section>
</div>
