<div class="tab powers-panel flexcol" data-group="primary" data-tab="powers">
  <nav class="powers-tabs tabs" data-group="secondary">
    <a class="sub-tab-header" data-tab="powers">{{localize "Powers."}}</a>
    <a class="sub-tab-header" data-tab="traits">{{localize "Traits."}}</a>
    <a class="sub-tab-header" data-tab="tags">{{localize "Tags."}}</a>
    <a class="sub-tab-header" data-tab="effects">{{localize "Effects."}}</a>
  </nav>
  <div class="powers-body">
    <div class="tab doc-list flexcol" data-group="secondary" data-tab="powers">
      {{> (systemFilePath "templates/actor/document-list.hbs") actor.itemTypes.power}}
    </div>
    <div class="tab doc-list flexcol" data-group="secondary" data-tab="traits">
      {{> (systemFilePath "templates/actor/document-list.hbs") actor.itemTypes.trait}}
    </div>
    <div class="tab doc-list flexcol" data-group="secondary" data-tab="tags">
      {{> (systemFilePath "templates/actor/document-list.hbs") actor.itemTypes.tag}}
    </div>
    <div class="tab effects-list doc-list flexcol" data-group="secondary" data-tab="effects">
      {{> (systemFilePath "templates/shared/effects-list.hbs") allEffects}}
    </div>
  </div>
</div>
