<form class="container">
  <div class="comic-book-overlay"></div>
  <div class="codename-pane">
    <div class="codename comic-box-shadow">
      <input name="name" type="text" value="{{actor.name}}">
    </div>
    <div class="image comic-box-shadow"></div>
  </div>
  <div class="health-pane comic-box-shadow">
    <div class="health"></div>
    <div class="focus"></div>
  </div>
  <div class="rank-pane comic-box-shadow">
    <div class="speed"></div>
    <div class="karma"></div>
    <div class="init"></div>
    <div class="rank"></div>
  </div>
  <div class="abilities-pane comic-box-shadow"></div>
  <div class="powers-pane comic-box-shadow"></div>
</form>
