<form>
  <div class="half-tone-overlay"></div>

  <div class="mvrpg-dialog-container flexcol">
    <div class="mvrpg-dialog-section comic-frame flexcol">
      <div class="mvrpg-dialog-header">
        {{localize "MVRPG.dialog.damageConfirm.title"}}
      </div>

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.damageConfirm.damageResistance"}}</div>
        <div class="mvrpg-dialog-input"><input name="damageResistance" type="number" value="{{damageResistance}}"></div>
      </div>

    </div>
  </div>
</form>
