<div class="tab effects-section effects-list doc-list sheet-body comic-frame flexcol {{tabs.effects.cssClass}}"
     data-group="{{tabs.effects.group}}"
     data-tab="{{tabs.effects.id}}">
  {{> (systemFilePath "templates/effects/effects-list.hbs") document.effects.contents}}
</div>
