<div class="tab effects-section effects-list doc-list flexcol"
     data-group="primary"
     data-tab="effects">
  {{> (systemFilePath "templates/effects/effects-list.hbs") document.effects.contents}}
</div>
