<div class="name-panel comic-frame flexrow ">
  <div class="item-image">
    <img src="{{item.img}}"
         data-edit="img"
         data-action="editImage"
         title="{{item.name}}" />
  </div>
  <div class="item-data flexcol">
    <header class="item-type">
      {{localize (concat "TYPES.Item." item.type)}}.
    </header>
    <input class="name-input" name="name" type="text" value="{{item.name}}">
  </div>
</div>
