<div class="name-panel comic-frame flexrow ">
  <div class="item-image">
    <img src="{{document.img}}"
         data-edit="img"
         data-action="editImage"
         title="{{document.name}}" />
  </div>
  <div class="item-data flexcol">
    <div class="item-type panel-header">{{localize (concat "TYPES.Item." document.type)}}.</div>
    <input class="name-input" name="name" type="text" value="{{document.name}}">
  </div>
</div>
