<div class="tab dialog-container sheet-body comic-frame flexcol {{tabs.settings.cssClass}}"
     data-group="{{tabs.settings.group}}"
     data-tab="{{tabs.settings.id}}">
  <div class="dialog-section flexcol">
    {{> (systemFilePath "templates/item/mixins/range-settings.hbs")}}

    {{> (systemFilePath "templates/item/mixins/hasRoll-settings.hbs")}}
  </div>
</div>
