<div class="tab sheet-body comic-frame mvrpg-dialog-container flexcol">
  <div class="mvrpg-dialog-section flexcol">
    {{> (systemFilePath "templates/item/mixins/range-settings.hbs")}}

    {{> (systemFilePath "templates/item/mixins/hasRoll-settings.hbs")}}
  </div>
</div>
