<form class="flexcol">
  <div class="half-tone-overlay"></div>
  <div class="name-panel comic-frame flexrow ">
    <div class="item-type">{{localize (concat "TYPES.Item." item.type)}}</div>
    <input name="name" type="text" value="{{item.name}}">
  </div>
  <div class="description-panel comic-frame flexcol">
    {{editor item.system.description target="system.description" button="true" engine="prosemirror"}}
  </div>
</form>
