@use "fonts" as *;

.mvrpg.actor {
  &:not(.minimized, .minimizing, .maximizing) {
    min-width: 360px;
    min-height: 594px;
  }

  .super-sheet-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 32% minmax(0, 1fr);
    gap: 8px 14px;
    grid-auto-flow: row;
    grid-template-areas:
      "codename-panel lifepool-panel rank-panel"
      "abilities-panel tabbed-panel tabbed-panel";

    /* Codename panel */
    .codename-panel {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 74%;
      gap: 8px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "codename"
        "portrait";
      grid-area: codename-panel;

      .codename {
        grid-area: codename;
        align-items: center;
        justify-items: center;

        > .codename-input {
          border: none;
          background: none;
          font-family: $komika-smallcaps;
          font-size: var(--name-text-size);
          text-align: center;
        }
      }

      .portrait {
        grid-area: portrait;
      }
    }

    /* LifePool (Health and Focus)*/
    .lifepool-panel {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "health"
        "focus";
      grid-area: lifepool-panel;

      @mixin lifepool-section($sectionName, $bg-color) {
        grid-area: $sectionName;

        .#{$sectionName}-content {
          background-color: $bg-color;

          > .#{$sectionName}-max {
            background-image: url(../assets/sheets/actor/pool-max.svg);
            align-items: center;
            text-align: center;

            > input {
              font-size: var(--sub-info-text-size);
              position: relative;
              top: -18%;
            }
          }

          > .#{$sectionName}-points {
            background-image: url(../assets/sheets/actor/pool-current.svg);
            align-items: center;
            text-align: center;

            > input {
              font-size: var(--main-info-text-size);
              position: relative;
              top: -18%;
            }
          }

          > .#{$sectionName}-damage-reduction {
            background-image: url(../assets/sheets/actor/damage-reduction.svg);
            align-items: center;
            text-align: center;

            > .value {
              font-size: var(--sub-info-text-size);
              position: relative;
              top: -13%;
            }
          }
        }
      }

      .health-section {
        @include lifepool-section(health, var(--gwen-pink));
        border-bottom: 2px solid;
      }

      .focus-section {
        @include lifepool-section(focus, var(--cap-blue));
        border-top: 1px solid;
      }
    }

    /* Rank panel */
    .rank-panel {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "speed karma"
        "initiative rank";
      grid-area: rank-panel;
      position: relative;

      .cog-wheel {
        position: absolute;
        top: calc(50% - 0.75rem);
        left: calc(50% - 0.6rem);
        z-index: 500;

        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        background-color: var(--background-white);

        i {
          text-align: center;
          line-height: unset;
          padding: 1px;

          transform: rotate(0);
          transition: transform 2s;
        }

        i:hover {
          transform: rotate(360deg);
        }
      }

      @mixin rank-section($sectionName, $bg-color: var(--hulk-green)) {
        grid-area: $sectionName;

        .#{$sectionName}-content {
          align-items: center;
          text-align: center;

          background-color: $bg-color;
          background-image: url(../assets/sheets/actor/#{$sectionName}.svg);

          padding: 2px;

          > input {
            font-size: var(--main-info-text-size);
          }
        }
      }

      .speed-section {
        @include rank-section(speed);

        border-right: 2px solid;
        border-bottom: 2px solid;

        .speed-content {
          .speed-selector {
            flex: 0;
            padding: 0;
            width: 80%;
            top: 5%;

            font-size: 0.9rem;
            text-align: center;

            z-index: 2000;
          }

          .speed-item {
            place-content: center;
            place-items: center;
            position: relative;
            top: -10%;

            .speed-icon {
              border: unset;
              height: var(--main-info-text-size);
              padding: 1px;
            }

            .speed-value {
              font-size: var(--main-info-text-size);
              padding: 1px;
            }
          }
        }
      }

      .karma-section {
        @include rank-section(karma);

        border-left: 1px solid;
        border-bottom: 2px solid;
      }

      .initiative-section {
        @include rank-section(initiative);

        border-right: 2px solid;
        border-top: 1px solid;
      }

      .rank-section {
        @include rank-section(rank);

        border-left: 1px solid;
        border-top: 1px solid;
      }
    }

    /* Abilities panel */
    .abilities-panel {
      grid-area: abilities-panel;

      .abilities-content {
        padding: 8px;
        gap: 4px;
        place-content: center;
        place-items: center;

        background-color: var(--thing-orange);

        .ability-item {
          text-align: center;
          place-content: center;
          place-items: center;

          background-color: var(--background-white);

          border-style: solid;
          border-width: 2px;
          border-radius: 5px;

          .ability-info {
            place-content: center;
            place-items: center;
            font-size: var(--main-info-text-size);

            .ability-defense,
            .ability-non-combat-bonus {
              font-size: var(--sub-info-text-size);
            }
          }

          .ability-labels {
            flex: 0;

            place-content: center;
            place-items: center;

            font-size: 0.95rem;

            width: 100%;
            border-radius: 0 0 2px 2px;
            background-color: var(--thanos-purple);

            .ability-name::first-letter {
              font-weight: bold;
              text-decoration: underline;
            }

            .ability-sub-label {
              color: var(--label-gray);
            }
          }
        }
      }
    }

    /* Tabbed panel */
    .tabbed-panel {
      position: relative;
      grid-area: tabbed-panel;

      .powers-panel nav.sheet-tabs[data-group="secondary"] {
        flex: unset;

        padding: 3px 4px;
        border-bottom: dashed 2px;
        margin-bottom: 3px;

        > a {
          color: var(--label-gray);

          line-height: 1.25rem;

          background-color: var(--background-white);

          border: solid 1px var(--label-gray);
          border-radius: 5px;
          padding: 2px;

          &.active {
            color: unset;
            font-weight: bold;
            font-style: italic;

            border-width: 2px;
            border-color: var(--border-black);
          }
        }
      }

      .combat-panel {
        text-align: center;
        height: 100%;

        .combat-panel-title {
          color: white;
          background-color: var(--venom-black);
          padding-bottom: 2px;
        }

        .damage-section {
          .damage-multiplier-list {
            padding: 3px;
            gap: 3px;

            .damage-multiplier-item {
              border-style: solid;
              border-width: 2px;
              border-radius: 5px;
              border-color: var(--border-black);
              background-color: var(--background-white);

              .damage-multiplier-value {
                font-weight: bold;
                font-size: var(--sub-info-text-size);

                .damage-modifier {
                  color: var(--label-gray);
                  font-weight: normal;
                }
              }

              .damage-multiplier-label {
                background-color: var(--thanos-purple);
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
              }
            }
          }
        }

        .rollable-section {
          flex: 10;
          overflow-y: auto;

          .combat-panel-title {
            position: sticky;
            top: 0;
            z-index: 1;
          }

          .rollable-list {
            flex-wrap: wrap;

            .rollable-item {
              flex: 0 0 calc(50% - 1px);
            }

            /** override */
            .doc-icon {
              width: 1.5rem;
              height: 1.5rem;
              flex: 0 0 1.5rem;

              .overlay {
                font-size: 1rem;
              }
            }
          }
        }

        .team-maneuver-section {
          .team-maneuver-item {
            margin: 3px;

            text-align: center;
            place-content: center;

            background-color: var(--background-white);

            border-style: solid;
            border-width: 2px;
            border-radius: 5px;

            &.maneuver-active {
              box-shadow: 0 0 1em 0.5em var(--thanos-purple);
            }

            .team-maneuver-data {
              place-items: center;

              :not(.toggle-maneuver, .toggle-maneuver i) {
                font-size: var(--sub-info-text-size);
              }
            }

            .team-maneuver-labels {
              flex: 0;

              place-content: center;
              place-items: center;

              width: 100%;
              border-radius: 0 0 2px 2px;
              background-color: var(--thanos-purple);

              .team-maneuver-select {
                height: unset;
              }
            }
          }
        }
      }

      .identity-panel {
        height: 100%;
        padding: 0 3px;

        > div {
          gap: 3px;
          flex: 0;
        }

        .identity-label {
          font-family: $komika-smallcaps;
          font-weight: bold;
        }

        .identity-input {
          background-color: rgb(200, 211, 211, 0.75);
          line-height: 1.5rem;
        }
      }
    }
  }
}
