@use "fonts" as *;

@keyframes rattle {
  0% {
    transform: rotate(0deg) translate(1px, 1px);
  }
  25% {
    transform: rotate(8deg) translate(-1px, -2px);
  }
  50% {
    transform: rotate(-8deg) translate(2px, 1px);
  }
  75% {
    transform: rotate(8deg) translate(-1px, 2px);
  }
  100% {
    transform: rotate(0deg) translate(1px, -1px);
  }
}

.doc-list {
  gap: 2px;

  .doc-list-header {
    color: white;
    background-color: var(--venom-black);
    padding-bottom: 2px;

    .doc-icon-dummy {
      width: 2.25rem;
      flex: 0 0 2.25rem;
    }

    .doc-create {
      text-align: right;
      padding-right: 6px;
      flex: 0;
    }
  }

  .doc-entry {
    place-content: center;
    place-items: center;

    &:nth-child(even) {
      background-color: var(--thing-orange);
    }
  }

  .doc-name {
    font-family: $komika-smallcaps;
    font-weight: bold;
  }

  .doc-icon {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    flex: 0 0 2.25rem;

    img {
      border: none;
    }

    .overlay {
      position: absolute;
      left: 0.25rem;
      top: 0.25rem;

      font-size: 1.75rem;

      color: white;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }

    &:hover .overlay {
      opacity: 0.75;
    }
  }

  .doc-data {
    padding-left: 3px;

    .power-data,
    .effect-data {
      font-size: var(--pill-text-size);
    }
  }

  .action-icons {
    flex: 0;
    flex-wrap: nowrap;
    place-items: center;

    padding: 0 6px;

    .effect-action,
    .doc-action {
      padding: 2px;
    }

    .rollable:hover {
      animation: rattle 0.4s infinite ease-in-out;
    }

    .doc-delete {
      flex: 0;
      color: var(--spider-red);
    }
  }
}
