/* Komika Text - Base */
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXT__.ttf) format("truetype");
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTB_.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTI_.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTBI.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Komika Text - Small Caps */
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTK_.ttf) format("truetype");
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTKB.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTKI.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXKBI.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Komika Text - Tight */
@font-face {
  font-family: KomikaTextTight;
  src: url(../assets/fonts/komika-text/KOMTXTT_.ttf) format("truetype");
}
@font-face {
  font-family: KomikaTextTight;
  src: url(../assets/fonts/komika-text/KOMTXTTI.ttf) format("truetype");
  font-style: italic;
}

:root {
  /* Component Colors */
  --background-white: rgb(255, 255, 255);
  --border-black: rgb(0, 0, 0);
  --header-yellow: rgb(255, 237, 143);
  --header-gray: rgba(253, 212, 0, 0.15);
  --label-gray: rgb(116, 116, 116);

  /* Thematic Colors */
  --spider-red: rgb(155, 29, 29);
  --gwen-pink: rgb(240, 156, 156);
  --venom-black: rgb(37, 37, 37);
  --cap-blue: rgb(156, 199, 240);
  --hulk-green: rgb(170, 204, 170);
  --lizard-green: rgb(5, 85, 5);
  --thing-orange: rgb(255 218 185);
  --thanos-purple: rgb(209 181 247);
  --wasp-yellow: rgb(255 244 220);

  /* Sizes */
  --name-text-size: 1.8rem;
  --dialog-text-size: 1.1rem;
  --header-text-size: 1.3rem;
  --main-info-text-size: 1.6rem;
  --sub-info-text-size: 1.2rem;
  --pill-text-size: 0.8rem;
}

div,
section {
  scrollbar-width: thin;
}

.mvrpg form {
  font-family: KomikaText;
}

.mvrpg select,
.mvrpg input[type="text"],
.mvrpg input[type="number"] {
  width: calc(100% - 2px);
  border: none;
  background: none;
}

.mvrpg select:hover,
.mvrpg input[type="text"]:hover,
.mvrpg input[type="number"]:hover {
  color: var(--spider-red);
}

.mvrpg section.window-content {
  background:
    radial-gradient(circle, rgba(255, 137, 180, 0.1) 0%, #ffebf2 100%),
    url(/ui/parchment.jpg) repeat;
}

.half-tone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.08;
  background-repeat: repeat;
  background-size: 30rem;
  background-image: url("../assets/sheets/comic-book-overlay.svg");
}

.comic-frame {
  border-style: solid;
  border-width: 3px;
  border-radius: 1px;
  border-color: var(--border-black);
  box-shadow: 5px 5px;
}

.panel-title {
  flex: 0;
  font-family: KomikaTextSmallCaps;
  line-height: var(--header-text-size);
  font-size: var(--header-text-size);
  font-weight: bold;
  font-style: italic;
  text-align: center;

  background-color: var(--header-yellow);
}

.panel-header {
  border-bottom: 3px solid var(--border-black);
  background: linear-gradient(
    180deg,
    var(--header-yellow) 0%,
    var(--header-gray) 100%
  );
}

.panel-footer {
  border-top: 3px solid var(--border-black);
  background: linear-gradient(
    180deg,
    var(--header-gray) 0%,
    var(--header-yellow) 100%
  );
}

.sheet-body {
  overflow-y: auto;
  background-color: var(--wasp-yellow);
}

.editor,
.editor.prosemirror {
  height: 100%;
}

.mvrpg .sheet-tabs.tabs {
  flex: 0;
  gap: 5px;
  border: unset;
  margin: 0;
  justify-content: unset;
  /* Unset Foundry's default padding for tabs */
  > [data-tab] {
    padding: unset;
  }
}

.tab-header {
  flex: 1;
  border-bottom: unset;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: var(--label-gray);
  color: var(--label-gray);
  padding: 0 2px;
  font-weight: normal;
}

.tab-header.active {
  border-color: var(--border-black);
  color: var(--border-black);
  font-weight: bold;
}

.comic-bubble-background {
  padding: 2px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bubble-label {
  color: var(--label-gray);
  position: relative;
  top: 14%;
}

a:hover.mv-inactive-link {
  text-shadow: unset;
  cursor: unset;
}

.info-pill {
  border-radius: 5px;
  background-color: rgb(200, 211, 211, 0.75);
  text-align: center;
  padding: 0 2px;
}

/** Glow Combatant if Fantastic Result **/
.combatant.is-fantastic {
  div.token-name h4,
  div.token-initiative span {
    animation: glow 1s infinite alternate;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(128, 0, 0);
  }
  to {
    text-shadow: 0 0 12px rgb(255, 0, 0);
  }
}
