.item-sheet {
  gap: 8px;

  .name-panel {
    flex: 0;
    text-align: center;
    font-weight: bold;
    font-family: "KomikaTextSmallCaps";
    font-size: var(--name-text-size);
    place-content: center;
    place-items: center;

    .item-image {
      width: 6rem;
      height: 6rem;
      flex: 0 0 6rem;
      border-right: 3px solid var(--border-black);

      > img {
        border: none;
        border-radius: unset;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .item-data {
      height: 100%;
    }

    .item-type {
      flex: 0;
    }
  }

  .description-section {
    height: 100%;
    padding: 0 8px;
  }

  .tabbed-panel {
    padding-bottom: 2px;

    .item-roll-data {
      padding-left: 25px;
    }
  }
}
