/* Komika Text - Base */
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXT__.ttf) format("truetype");
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTB_.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTI_.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTBI.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Komika Text - Small Caps */
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTK_.ttf) format("truetype");
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTKB.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTKI.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXKBI.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Komika Text - Tight */
@font-face {
  font-family: KomikaTextTight;
  src: url(../assets/fonts/komika-text/KOMTXTT_.ttf) format("truetype");
}
@font-face {
  font-family: KomikaTextTight;
  src: url(../assets/fonts/komika-text/KOMTXTTI.ttf) format("truetype");
  font-style: italic;
}

.mvrpg form {
  font-family: KomikaText;
}

.mvrpg input[type="text"],
.mvrpg input[type="number"] {
  border: none;
  background: none;
}

.mvrpg section.window-content {
  background:
    radial-gradient(
      circle,
      rgba(255, 137, 180, 0.1) 0%,
      rgba(255, 235, 242, 1) 100%
    ),
    url(/ui/parchment.jpg) repeat;
}

.hero-sheet-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 32% 1fr 1fr;
  gap: 8px 14px;
  grid-auto-flow: row;
  grid-template-areas:
    "codename-panel lifepool-panel rank-panel"
    "abilities-panel powers-panel powers-panel"
    "abilities-panel powers-panel powers-panel";
}

.half-tone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.08;
  background-repeat: repeat;
  background-size: 30rem;
  background-image: url("../assets/sheets/comic-book-overlay.svg");
}

.comic-frame {
  border-style: solid;
  border-width: 3px;
  border-radius: 1px;
  border-color: black;
  box-shadow: 5px 5px;
}

.panel-title {
  flex: 0;
  font-family: KomikaTextSmallCaps;
  line-height: 1.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;

  background-color: #ffed8f;
}

.panel-header {
  border-bottom: 3px solid #000000;
  background: linear-gradient(180deg, #ffed8f 0%, rgba(253, 212, 0, 0.15) 100%);
}

.panel-footer {
  border-top: 3px solid #000000;
  background: linear-gradient(180deg, rgba(253, 212, 0, 0.15) 0%, #ffed8f 100%);
}

.powers-panel {
  grid-area: powers-panel;
}

.lifepool-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "health"
    "focus";
  grid-area: lifepool-panel;
}

.comic-bubble-background {
  padding: 2px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.lifepool-panel .lifepool-label {
  color: rgb(116, 116, 116);
  position: relative;
  top: 14%;
}

.health-section {
  grid-area: health;
  border-bottom: 2px solid;
}

.health-content {
  background-color: rgb(240, 156, 156);
}

.health-content > .health-max {
  background-image: url(../assets/sheets/actor/pool-max.svg);
  align-items: center;
  text-align: center;
}

.health-max > .health-max-input {
  font-size: 1.2rem;
  position: relative;
  top: -18%;
}

.health-content > .health-points {
  background-image: url(../assets/sheets/actor/pool-current.svg);
  align-items: center;
  text-align: center;
}

.health-points > .health-points-input {
  font-size: 1.6rem;
  position: relative;
  top: -18%;
}

.health-content > .health-damage-reduction {
  background-image: url(../assets/sheets/actor/damage-reduction.svg);
  align-items: center;
  text-align: center;
}

.health-damage-reduction > .health-damage-reduction-input {
  font-size: 1.2rem;
  position: relative;
  top: -18%;
}

.focus-section {
  grid-area: focus;
  border-top: 1px solid;
}

.focus-content {
  background-color: rgb(156, 199, 240);
}

.focus-content > .focus-max {
  background-image: url(../assets/sheets/actor/pool-max.svg);
  align-items: center;
  text-align: center;
}

.focus-max > .focus-max-input {
  font-size: 1.2rem;
  position: relative;
  top: -18%;
}

.focus-content > .focus-points {
  background-image: url(../assets/sheets/actor/pool-current.svg);
  align-items: center;
  text-align: center;
}

.focus-points > .focus-points-input {
  font-size: 1.6rem;
  position: relative;
  top: -18%;
}

.focus-content > .focus-damage-reduction {
  background-image: url(../assets/sheets/actor/damage-reduction.svg);
  align-items: center;
  text-align: center;
}

.focus-damage-reduction > .focus-damage-reduction-input {
  font-size: 1.2rem;
  position: relative;
  top: -18%;
}

.rank-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "speed karma"
    "initiative rank";
  grid-area: rank-panel;
  position: relative;
}

.cog-wheel {
  position: absolute;
  top: calc(50% - 0.625rem);
  left: calc(50% - 0.625rem);

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.cog-wheel i {
  text-align: center;
  line-height: unset;
  padding: 1px;

  transform: rotate(0);
  transition: transform 2s;
}

.cog-wheel i:hover {
  transform: rotate(360deg);
}

.speed-section {
  grid-area: speed;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.karma-section {
  grid-area: karma;
  border-left: 1px solid;
  border-bottom: 2px solid;
}

.karma-content {
  padding: 2px;
  background-image: url(../assets/sheets/actor/karma.svg);
  align-items: center;
  text-align: center;
}

.karma-content > .karma-input {
  font-size: 1.6rem;
}

.initiative-section {
  grid-area: initiative;
  border-right: 2px solid;
  border-top: 1px solid;
}

.initiative-content {
  padding: 2px;
  background-image: url(../assets/sheets/actor/initiative.svg);
  align-items: center;
  text-align: center;
}

.initiative-content > .initiative-input {
  font-size: 1.6rem;
}

.rank-section {
  grid-area: rank;
  border-left: 1px solid;
  border-top: 1px solid;
}

.rank-content {
  padding: 2px;
  background-image: url(../assets/sheets/actor/star.svg);
  align-items: center;
  text-align: center;
}

.rank-content > .rank-input {
  font-size: 1.6rem;
}

.abilities-panel {
  grid-area: abilities-panel;
}

.codename-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 74%;
  gap: 8px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "codename"
    "portrait";
  grid-area: codename-panel;
}

.portrait {
  grid-area: portrait;
}

.portrait > img {
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.codename {
  grid-area: codename;
  align-items: center;
  justify-items: center;
}

.codename > .codename-input {
  border: none;
  background: none;
  font-family: KomikaTextSmallCaps;
  font-size: 1.8rem;
  text-align: center;
}

/* Dialogs */
.mvrpg-dialog .dialog-buttons button {
  border-style: solid;
  border-width: 3px;
  border-radius: 1px;
  border-color: black;
  box-shadow: 5px 5px;

  font-family: KomikaText;
  font-size: 1.1rem;
  transition: text-shadow 200ms ease-in;

  i {
    color: rgb(155, 29, 29);
    transform: translateY(0) rotate(180deg);
    transition:
      transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      color 1s ease-in;
  }
}

.mvrpg-dialog .dialog-buttons button:hover {
  text-shadow: 1px 1px 2px rgb(155, 29, 29);
  i {
    text-shadow: none;
    color: rgb(37, 37, 37);
    transform: translateY(-9px) rotate(180deg);
  }
}

.mvrpg-dialog-container {
  gap: 8px 8px;
  padding-bottom: 8px;
  font-size: 1.1rem;
  font-weight: bold;
}

.mvrpg-dialog-section {
  background-color: rgb(255, 255, 255);
}

.mvrpg-dialog-item {
  justify-items: center;
  align-items: center;
  padding: 0 15px;
}

.mvrpg-dialog-header {
  border-bottom: 3px solid #000000;
  background: linear-gradient(180deg, #ffed8f 0%, rgba(253, 212, 0, 0.15) 100%);

  font-family: KomikaTextSmallCaps;
  line-height: 1.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.mvrpg-dialog-label {
  align-items: center;
}

.mvrpg-dialog-icon {
  flex: 0;
  border: unset;
  height: 1.2rem;
  padding-right: 2px;
}

.mvrpg-dialog-input {
  text-align: right;
}

.mvrpg-dialog-input input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  transform: translateY(2px);

  border-style: solid;
  border-color: inherit;
  border-width: 2px;
  border-radius: 1px;
  box-shadow: 3px 3px;

  background-image: url(../assets/sheets/checkmark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 1.15em;

  transition: background-position 0.2s ease-out;
}

.mvrpg-dialog-input input[type="checkbox"]:checked {
  background-position-x: 0;
}
