/* Komika Text - Base */
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXT__.ttf) format("truetype");
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTB_.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTI_.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: KomikaText;
  src: url(../assets/fonts/komika-text/KOMTXTBI.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Komika Text - Small Caps */
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTK_.ttf) format("truetype");
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTKB.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXTKI.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: KomikaTextSmallCaps;
  src: url(../assets/fonts/komika-text/KOMTXKBI.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* Komika Text - Tight */
@font-face {
  font-family: KomikaTextTight;
  src: url(../assets/fonts/komika-text/KOMTXTT_.ttf) format("truetype");
}
@font-face {
  font-family: KomikaTextTight;
  src: url(../assets/fonts/komika-text/KOMTXTTI.ttf) format("truetype");
  font-style: italic;
}

.mvrpg .container {
  font-family: KomikaText;
}

.mvrpg section.window-content {
  background:
    radial-gradient(
      circle,
      rgba(255, 137, 180, 0.1) 0%,
      rgba(255, 235, 242, 1) 100%
    ),
    url(/ui/parchment.jpg) repeat;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 32% 1fr 1fr;
  gap: 8px 14px;
  grid-auto-flow: row;
  grid-template-areas:
    "codename-panel health-panel rank-panel"
    "abilities-panel powers-panel powers-panel"
    "abilities-panel powers-panel powers-panel";
}

.container > .comic-book-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.08;
  background-repeat: repeat;
  background-size: 30rem;
  background-image: url("../assets/sheets/comic-book-overlay.svg");
}

.comic-box-shadow {
  border-style: solid;
  border-width: 3px;
  border-radius: 1px;
  border-color: black;
  box-shadow: 5px 5px;
}

.panel-title {
  flex: 0;
  font-family: KomikaTextSmallCaps;
  line-height: 1.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;

  background-color: #ffed8f;
}

.panel-header {
  border-bottom: 3px solid #000000;
  background: linear-gradient(180deg, #ffed8f 0%, rgba(253, 212, 0, 0.15) 100%);
}

.panel-footer {
  border-top: 3px solid #000000;
  background: linear-gradient(180deg, rgba(253, 212, 0, 0.15) 0%, #ffed8f 100%);
}

.powers-panel {
  grid-area: powers-panel;
}

.health-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "health"
    "focus";
  grid-area: health-panel;
}

.health {
  grid-area: health;
  border-bottom: 2px solid;
}

.focus {
  grid-area: focus;
  border-top: 1px solid;
}

.rank-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "speed karma"
    "init rank";
  grid-area: rank-panel;
}

.speed {
  grid-area: speed;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.karma {
  grid-area: karma;
  border-left: 1px solid;
  border-bottom: 2px solid;
}

.init {
  grid-area: init;
  border-right: 2px solid;
  border-top: 1px solid;
}

.rank {
  grid-area: rank;
  border-left: 1px solid;
  border-top: 1px solid;
}

.rank-bubble {
  padding: 4px;
  background-image: url(../assets/sheets/actor/star.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  text-align: center;
}

.rank-bubble > .rank-input {
  border: none;
  background: none;
  font-size: 1.6rem;
}

.abilities-panel {
  grid-area: abilities-panel;
}

.codename-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 74%;
  gap: 8px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "codename"
    "portrait";
  grid-area: codename-panel;
}

.portrait {
  grid-area: portrait;
}

.portrait > img {
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.codename {
  grid-area: codename;
  align-items: center;
  justify-items: center;
}

.codename > .codename-input {
  border: none;
  background: none;
  font-family: KomikaTextSmallCaps;
  font-size: 1.8rem;
  text-align: center;
}
